[Unit]
Description=Apitry
# Make sure we have functional network and logging available
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/srv/http/apitry/src
# Type=forking
# User=nobody
# Group=nobody
TimeoutSec=10
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=apitry
Environment=PORT=8001
# Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target